* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
   
}

.container {
    width: 1070px;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(14,40px);
    grid-auto-rows: minmax(40px,auto);
    background-color: grey;
    gap:1px;
}

[class*="col-"] {
    flex: 0 0 auto;
}

/* 12 System */
.col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

}
.box{
color: aliceblue;
}

.col-xs-1 {
    background: black;
    grid-column: 3/5;
    grid-row: 1/2;
    
}

.col-xs-2 {
   
    background: black;
    grid-column: 11/13;
}

.col-xs-3 {
   
    grid-column: 2/3;
    grid-row: 2/8;
    background: black;
}

.col-xs-4 {
    grid-column: 5/11;
    background: black;
}

.col-xs-5 {
    grid-column: 13/14;
    grid-row: 2/8;
    background: black;

}

.col-xs-6 {
    background-color: pink;
    grid-column: 5/11;
    grid-row: 4/5;
}

.col-xs-7 {
    background-color: pink;
    grid-column: 4/12;
    grid-row: 5/7;
    
}

.col-xs-8 {
    background-color: pink;
    grid-column: 5/11;
    grid-row: 7/8;
}

.col-xs-9 {
    background-color: black;
    grid-column: 5/6;
    grid-row: 5/7;
}

.col-xs-10 {
    background-color: black;
    grid-column: 10/11;
    grid-row:5/7 ;
}

.col-xs-11 {
    background-color: black;
    grid-column: 1/2;
    grid-row: 8/12;
}

.col-xs-12 {
    background-color: greenyellow;
    grid-column: 2/4;
    grid-row: 8/11;
}

.col-xs-13 {
    background-color: pink;
    grid-column:2/3 ;
    grid-row: 9/12;
}
    

.col-xs-14 {
    background-color: lightblue;
    grid-column:4/12 ;
    grid-row: 10/11; 
}

.col-xs-15 {
    background-color:greenyellow;
    grid-column:12/14 ;
    grid-row: 8/11; 
}

.col-xs-16 {
    background-color:pink;
    grid-column:13/14 ;
    grid-row: 9/12; 
}
.col-xs-17 {
    background-color:black;
    grid-column:14/15 ;
    grid-row: 8/12; 
}

.col-xs-18 {
    background-color:lightskyblue;
    grid-column:3/13 ;
    grid-row: 11/13; 
}
.col-xs-19 {
    background-color:black;
    grid-column:2/3 ;
    grid-row: 12/16; 
}

.col-xs-20{
    background-color:blue;
    grid-column:3/13 ;
    grid-row: 13/16;
}

.col-xs-21{
    background-color:black;
    grid-column:6/10 ;
    grid-row: 15/16;
}

.col-xs-22{
    background-color:black;
    grid-column:13/14 ;
    grid-row: 12/16;
}
.col-xs-23{
    background-color:black;
    grid-column:3/6;
    grid-row: 16/17;
}
.col-xs-24{
    background-color:black;
    grid-column:13/10 ;
    grid-row: 16/17;
}

/* BONUS II 
.start-xs {
    justify-content: flex-start;
    text-align: start;
}

.center-xs {
    justify-content: center;
    text-align: center;
}

.end-xs {
    justify-content: flex-end;
    text-align: end;
}

.top-xs {
    align-items: flex-start;
}

.middle-xs {
    align-items: center;
}

.bottom-xs {
    align-items: flex-end;
}

.around-xs {
    justify-content: space-around;
}

.between-xs {
    justify-content: space-between;
}
*/
/* Fine BONUS II */


/* BONUS I 
.row.reverse {
    flex-direction: row-reverse;
}

.col.reverse {
    flex-direction: column-reverse;
}

.first-xs {
    order: -1;
}

.last-xs {
    order: 1;
}

/* Fine BONUS I */

